<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,9}</string>
                <key>spriteSize</key>
                <string>{191,191}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{597,288},{191,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,16}</string>
                <key>spriteSize</key>
                <string>{215,207}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{519,700},{215,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,10}</string>
                <key>spriteSize</key>
                <string>{207,193}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{736,692},{207,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{209,195}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{732,481},{209,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-13}</string>
                <key>spriteSize</key>
                <string>{187,229}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{366,288},{187,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{245,219}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{298,657},{245,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,5}</string>
                <key>spriteSize</key>
                <string>{273,279}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{671,1},{273,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{295,261}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{1,657},{295,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,10}</string>
                <key>spriteSize</key>
                <string>{363,321}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,6}</string>
                <key>spriteSize</key>
                <string>{349,331}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{1,324},{349,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{303,285}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{366,1},{303,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,20}</string>
                <key>spriteSize</key>
                <string>{211,217}</string>
                <key>spriteSourceSize</key>
                <string>{401,377}</string>
                <key>textureRect</key>
                <string>{{519,481},{211,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Beng.png</string>
            <key>size</key>
            <string>{945,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daff3f2529a784af6ddb0a0819c4f081:02fd79f8a6479e7ff987c1b609d28ab9:3478c0573dc7abd93e5853975dba7f5c$</string>
            <key>textureFileName</key>
            <string>Beng.png</string>
        </dict>
    </dict>
</plist>
