<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0fce14d3-c520-4960-86a1-e6d5aab43651.7cb38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,293},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4d9087a8-15db-424f-88f5-3dc80fcdf6e6.66d02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>66974f47-5f18-4c33-8d8d-8f54c3fa67fd.ca98c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,71},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6915b52c-36e7-4fa7-985e-dede06c52559.2ddba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,437},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f65926fb-243c-416b-a6a2-5a2b51c57521.90dad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,365},{70,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f7b5eccc-f5a6-4c91-a760-4acc35b23f6d.a05b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,145},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff9c9199-c5d6-4963-b7a0-dcc4da68e999.f413f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,219},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hh.png</string>
            <key>size</key>
            <string>{86,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:887f4499de4530f3615a540aa42bacb9:d41b60fd33268117d46f6376f38b5caf:724168b06bb7975c457d40fa4444597b$</string>
            <key>textureFileName</key>
            <string>hh.png</string>
        </dict>
    </dict>
</plist>
