<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0bcadfa0-4482-4cec-8d05-4100f3fa11e5.d1504.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,77},{102,34}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>0ffabe39-e4ae-4bca-ad35-f73d3389a794.89b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,113},{102,31}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{102,31}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>1ad89966-115f-4695-8187-10071df2afae.14a64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{110,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{110,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1bf559ce-5235-47d6-b7d9-88ad7ea24fa1.6e391.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,144},{106,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{106,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>21a8aa29-5745-4e1a-acc4-496f24e532ce.13331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,78},{102,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{102,45}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>23f4c8ab-7e33-4f0b-aa23-b250f0004a57.d7b9e.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,144},{110,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>3045c4d1-6da9-4981-8ee2-fa1eb04909fc.3e2d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,116},{102,36}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>32fc19e1-ba45-4156-81a0-6c5fdcaa796f.f3cac.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,224},{102,30}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>3e9fb679-3419-49d1-9c71-7b85f8156d47.bb0a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,158},{102,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{102,38}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>44871628-2a23-460d-9a51-4dd15cb9806d.1863b.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,144},{108,118}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{108,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>46bd664c-7d8d-486a-807c-23fab736fabb.39689.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,113},{103,28}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>4924a500-fdff-4c2a-b8ac-1b7b1f1f8c91.97f64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,182},{102,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{102,40}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>4c27abaa-518c-4ee5-a8c1-46a66d517ff4.ab7f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,78},{103,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{103,36}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>6548e527-9857-4120-929b-2a860370b201.50380.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{102,34}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,43},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>684be441-09b8-40b4-b0ab-68121c68e3a7.7c871.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,106},{102,34}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>6f0aeab5-8c93-45da-b52c-2809bf1c0f6d.e7d46.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{120,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{120,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>7719b4bf-d5d3-4609-930a-95c165857306.35aaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,116},{103,34}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>7b283c8e-60b7-4a62-a6d8-f39f8a2a7317.ba98a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,78},{103,38}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{103,38}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>7bb3eec8-0259-4aa4-a4f7-740d38bcecfd.a0a31.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,192},{120,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{120,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>980c4d54-078d-41d5-926f-8a33fbfa1e6b.43f9a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,221},{103,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{103,33}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>985a0607-df1e-420d-a9aa-0c09b4083cb4.63375.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,198},{102,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>a84fa340-cdd1-4100-983b-401b9cc35c49.f66bc.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,93},{88,88}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>aa3ae8a6-aab0-4ce1-8760-1bc209c47a80.c3f83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,49},{103,27}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{103,27}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>aadb976c-190e-431c-9469-3d65e0720e19.2c30d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,2},{103,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{103,43}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>b4c86443-e4dd-4504-872c-44c619449c23.ea21a.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b7c6da95-0856-4802-adc4-9a09961285a9.d2a27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,221},{103,32}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{103,32}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>bbad6579-3f90-42e2-80ca-0b81a7e3b3af.5cb00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,47},{102,29}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>c173714c-03e4-42cf-8bc9-1d293b0cde2a.be7d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{102,36}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>c2c0d821-d4b7-401a-88cd-71cbbed87c1b.f4ce3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{98,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>d120fe16-b24e-4fe9-a78a-da3fbc7e89db.7cea9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,118},{103,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{103,38}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>d1878b1c-e4bd-4833-9156-666484c09148.608ca.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,78},{102,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{102,40}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>d1f53b3d-8b8f-4815-9ab4-4803620b0f63.487aa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{102,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{102,45}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>d649a9b0-54f8-4c72-ab4d-51d95e39a3e3.56415.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,132},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{122,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e2bd1ac6-2f2c-4566-ae70-5b41b012a903.743bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,199},{103,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{103,47}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>e2e75231-536a-49a6-813d-557af9f71b51.97014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,154},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ea72d865-ab35-44ef-bebc-934b5290855e.9a76c.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,124},{114,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{114,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>f65926fb-243c-416b-a6a2-5a2b51c57521.90dad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,2},{68,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{68,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>f6b9f1b8-257b-46b3-9805-10447c06b0f3.f1a92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,40},{102,35}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{102,35}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>f7b5eccc-f5a6-4c91-a760-4acc35b23f6d.a05b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,184},{70,72}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{70,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ff9c9199-c5d6-4963-b7a0-dcc4da68e999.f413f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,183},{70,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{70,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>slice_1d9a1d2c3.72132_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,94}</string>
            </dict>
            <key>slice_1d9a1d2c3.72132_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,98},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>slice_1d9a1d2c3.72132_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,102},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>slice_1d9a1d2c3.72132_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>slice_1d9a1d2c3.72132_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,93},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>slice_1d9a1d2c3.72132_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>slice_1e6132023.255f1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,140}}</string>
                <key>sourceSize</key>
                <string>{418,140}</string>
            </dict>
            <key>slice_1e6132023.255f1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,46},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>slice_1e6132023.255f1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tcl.png</string>
            <key>size</key>
            <string>{1524,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db88cc4b2aa8fa17e86650564471d093:fb1f21b3977e5857176a9d31894fca05:1981c3781e3440b8be33fe3ec479e498$</string>
            <key>textureFileName</key>
            <string>tcl.png</string>
        </dict>
    </dict>
</plist>
